<!-- WRITE CODE TYPE [ Template-Driven Forms ] -->

<!-- general form elements -->
<div class="row">
    <div class="col ">

    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="card card-primary">
            <div class="card-header text-center">
                <h3 class="card-title">Chỉnh sửa thông tin Khách hàng</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" #formCustomer="ngForm" (ngSubmit)="onClickUpdate()">
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Mã Khách hàng</label>
                        <input type="text" class="form-control" name="code" id="" placeholder="" [(ngModel)]="customer.code" required pattern='^[K][H]\-[0-9]{4}$'>

                        <span class="badge badge-danger" *ngIf="formCustomer.controls.code?.dirty && formCustomer.controls.code?.errors?.required">
                            Không được để trống</span>
                        <span class="badge badge-danger" *ngIf="formCustomer.controls.code?.dirty && formCustomer.controls.code?.errors?.pattern"> Mã
                            Khách Hàng có dạng KH-XXXX (X là số 0-9)</span>
                    </div>
                    <div class="form-group">
                        <label for="">Họ Tên</label>
                        <input type="text" class="form-control" name="name" placeholder="" [(ngModel)]="customer.name" value="{{ customer.name }}" required pattern="[^0-9]+">
                        <span class="badge badge-danger" *ngIf="formCustomer.controls.name?.dirty && formCustomer.controls.name?.errors?.required">
                            Không được để trống</span>
                        <span class="badge badge-danger" *ngIf="formCustomer.controls.name?.dirty && formCustomer.controls.name?.errors?.minlength">
                            Tối thiểu 4 ký tự</span>
                        <span class="badge badge-danger" *ngIf="formCustomer.controls.name?.dirty && formCustomer.controls.name?.errors?.pattern"> Tên
                            chỉ bao gồm ký tự</span>
                    </div>
                    <div class=" form-group ">
                        <label for=" ">Ngày Sinh</label>

                        <div>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" [max]="nowDate" placeholder="dd/mm/yy" name="birthday" [(ngModel)]="customer.birthday" [value]="customer.birthday">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="form-group ">
                        <label for=" ">Số Điện Thoại</label>
                        <input type="text " class="form-control " name="phone" id=" " placeholder=" " [(ngModel)]="customer.phone" value="{{ customer.phone }}" required pattern="^(([\+][8][4])|[0])([0-9]{9,10})$">
                        <span class="badge badge-danger" *ngIf="formCustomer.controls.phone?.dirty && formCustomer.controls.phone?.errors?.required">
                            Không được để trống</span>
                        <span class="badge badge-danger" *ngIf="formCustomer.controls.phone?.dirty && formCustomer.controls.phone?.errors?.pattern">
                                Số điện thoại phải đúng định dạng</span>

                    </div>
                    <div class=" form-group ">
                        <label for=" ">Số CMND</label>
                        <input type="text " class="form-control " name="cmnd" id=" " placeholder=" " [(ngModel)]="customer.cmnd " value="{{ customer.cmnd }}" required pattern="^[0-9]{9}$|^[0-9]{12}$">
                        <span class="badge badge-danger" *ngIf=" formCustomer.controls.cmnd?.dirty && formCustomer.controls.cmnd?.errors?.required">
                            Không được để trống</span>
                        <span class="badge badge-danger" *ngIf=" formCustomer.controls.cmnd?.dirty && formCustomer.controls.cmnd?.errors?.pattern">Số
                            CMND phải đúng định dạng ( gồm 9 hoặc 12 chữ)</span>
                    </div>
                    <div class="form-group ">
                        <label for=" ">Email</label>
                        <input type="text " class="form-control " name="email" id=" " placeholder=" " [(ngModel)]="customer.email" value="{{ customer.email }}" required pattern='^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$'>
                        <span class="badge badge-danger" *ngIf="formCustomer.controls.email?.dirty && formCustomer.controls.email?.errors?.required">
                            Không được để trống</span>
                        <span class="badge badge-danger" *ngIf="formCustomer.controls.email?.dirty && formCustomer.controls.email?.errors?.pattern">
                            Sai định dạng email</span>
                    </div>
                    <div class=" form-group ">
                        <label for=" ">Địa chỉ</label>
                        <input type="text " class="form-control " name="address " id=" " placeholder=" " [(ngModel)]="customer.address " value="{{ customer.address }}" required>
                    </div>
                    <div class="row d-flex">

                        <button type="submit " class="btn btn-success ">Chỉnh Sửa</button>
                        <!-- <button type="submit " class="btn btn-secondary ml-2 ">Reset</button> -->
                        <button type="button" class="btn btn-primary ml-auto" [routerLink]="['/admin/manager/customers']" routerLinkActive="router-link-active"> Quay Lại</button>

                    </div>

                </div>
                <!-- /.card-body -->


            </form>
        </div>
    </div>
</div>
<!-- /.card -->