<!-- MAIN -->
<!-- Button Top Right-->
<div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4">
        <div class="btn-group float-right mt-2" role="group">
            <button type="button" [routerLink]="['/admin/manager/contracts/add']" routerLinkActive="router-link-active" class="btn btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Thêm mới
                </button>
        </div>
    </div>
</div>

<!-- Button Top Right End-->
<!-- Content -->
<div class="row">
    <div class="col m-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h3 class="card-title pl-3"> Danh Sách Hợp Đồng</h3>
                    <div class="col">
                        <form class="form-inline float-right">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="searchText">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <div class="row">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>

                                <th>Mã Hợp Đồng</th>
                                <th>Dịch Vụ Sử Dụng</th>
                                <th>Khách Hàng</th>
                                <th>Nhân Viên Thực Hiện</th>
                                <th>Ngày Bắt Đầu</th>
                                <th>Ngày Kết Thúc</th>
                                <th>Giá</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contract of contracts  | filter:searchText | paginate: {itemsPerPage: 5, currentPage: p }">
                                <td>{{contract.id}}</td>
                                <td>{{contract.Services_id}}</td>
                                <td>{{contract.Users_id}}</td>
                                <td>{{contract.Employees_id}}</td>
                                <td>{{contract.DateStart | date: 'd/M/y'}}</td>
                                <td>{{contract.DateEnd | date: 'd/M/y' }}</td>
                                <td>{{contract.TotalPrice | currency:"VND" }}</td>

                                <td>

                                    <a><span [routerLink]="['/admin/manager/contracts/', contract.id ,'deltail']" routerLinkActive="router-link-active" class="badge badge-primary">Chi tiết</span></a>
                                    <a><span class="badge badge-danger" (click)="onDeleteContract(contract.id)">Xóa</span></a>
                                </td>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">

            </div>
        </div>
        <!-- /.card -->
    </div>
</div>

<!-- Content END-->
<!-- Main Col END -->