<!-- general form elements -->
<div class="row">
    <div class="col">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Thêm mới dịch vụ</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" [formGroup]="formServices" (ngSubmit)="clickAddService()">
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Tên Dịch Vụ</label>
                        <input type="text" class="form-control" id="" placeholder="" formControlName="NameService">
                    </div>
                    <div class="form-group">
                        <label for="">Mã Dịch Vụ</label>
                        <input type="text" class="form-control" id="" placeholder="" formControlName="code">
                        <span class="badge badge-danger" *ngIf="formServices.controls.code.dirty && formServices.controls.code.errors?.required"> Không được để trống</span>
                        <span class="badge badge-danger" *ngIf="formServices.controls.code.dirty && formServices.controls.code.errors?.pattern"> Mã Dịch Vụ có dạng DV-XXXX (X là số 0-9)</span>
                    </div>
                    <div class="form-group">
                        <label for="">Loại Dịch Vụ</label>
                        <select id="" class="form-control" formControlName="TypeService">
                            <option value="Villa">Villa</option>
                            <option value="House">House</option>
                            <option value="Room">Room</option>
                        </select>
                        <div class="form-group">
                            <label for="my-textarea">Mô Tả Dịch Vụ</label>
                            <textarea id="my-textarea" class="form-control" name="" rows="3" formControlName="Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formEmployee">Diện Tích</label>
                        <input type="text" class="form-control" id="formEmployee" placeholder="" formControlName="AreaUsed">
                        <span class="badge badge-danger" *ngIf="formServices.controls.AreaUsed.dirty && formServices.controls.AreaUsed.errors?.pattern"> Chỉ được nhập số</span>
                    </div>
                    <div class="form-group">
                        <label for="formEmployee">Số Người Tối Đa</label>
                        <input type="text" class="form-control" id="formEmployee" placeholder="" formControlName="MaxPeople">
                        <span class="badge badge-danger" *ngIf="formServices.controls.MaxPeople.dirty && formServices.controls.MaxPeople.errors?.pattern"> Chỉ được nhập số</span>
                    </div>
                    <div class="form-group">
                        <label for="">Tiêu Chuẩn</label>
                        <select id="" class="form-control" formControlName="Standard">
                                <option value="1 Sao">1 Sao</option>
                                <option value="2 Sao">2 Sao</option>
                                <option value="3 Sao">3 Sao</option>
                                <option value="4 Sao">4 Sao</option>
                                <option value="5 Sao">5 Sao</option>
                                
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="formEmployee">Số Tầng</label>
                        <input type="text" class="form-control" id="formEmployee" placeholder="" formControlName="NumberFloors">
                        <span class="badge badge-danger" *ngIf="formServices.controls.NumberFloors.dirty && formServices.controls.NumberFloors.errors?.pattern"> Chỉ được nhập số</span>
                    </div>
                    <div class="form-group">
                        <label for="formEmployee">Diện Tích Hồ Bơi</label>
                        <input type="text" class="form-control" id="formEmployee" placeholder="" formControlName="AreaPool">
                        <span class="badge badge-danger" *ngIf="formServices.controls.AreaPool.dirty && formServices.controls.AreaPool.errors?.pattern"> Chỉ được nhập số</span>
                    </div>
                    <div class="form-group">
                        <label for="formEmployee">Giá</label>
                        <input type="text" class="form-control" id="formEmployee" placeholder="" formControlName="Price">
                        <span class="badge badge-danger" *ngIf="formServices.controls.Price.dirty && formServices.controls.Price.errors?.pattern"> Chỉ được nhập số</span>
                    </div>


                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <div class="row d-flex">
                        <button [disabled]="formServices.invalid" type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-primary ml-auto" [routerLink]="['/admin/manager/services']" routerLinkActive="router-link-active"> Quay
                                                Lại</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.card -->