<!-- Sidebar -->
<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
    <!-- Bootstrap List Group -->
    <ul class="list-group">
        <!-- Separator with title -->
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <small>MAIN MENU</small>
        </li>
        <!-- /END Separator -->

        <a [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active" class=" list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-tasks fa-fw mr-3"></span>
                <span class="menu-collapsed">Dashboard</span>
            </div>
        </a>
        <!-- Menu with submenu -->
        <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-dashboard fa-fw mr-3"></span>
                <span class="menu-collapsed">Quản Lý</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu1' class="collapse sidebar-submenu">
            <a [routerLink]="['/admin/manager/customers']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action  text-dark">
                <span class="menu-collapsed">Quản Lý Khách Hàng</span>
            </a>
            <a [routerLink]="['/admin/manager/employees']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action  text-dark">
                <span class="menu-collapsed">Quản Lý Nhân Viên</span>
            </a>
            <a [routerLink]="['/admin/manager/services']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action  text-dark">
                <span class="menu-collapsed">Quản Lý Dịch Vụ</span>
            </a>
            <a [routerLink]="['/admin/manager/contracts']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action  text-dark">
                <span class="menu-collapsed">Quản Lý Hợp Đồng</span>
            </a>
        </div>
        <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Cá Nhân</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu2' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action  text-dark">
                <span class="menu-collapsed">Cài Đặt</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action  text-dark">
                <span class="menu-collapsed">Đổi Mật Khẩu</span>
            </a>
        </div>

        <!-- Separator with title -->

        <a href="#" class=" list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-calendar fa-fw mr-3"></span>
                <span class="menu-collapsed">Calendar</span>
            </div>
        </a>
        <a href="#" class=" list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-envelope-o fa-fw mr-3"></span>
                <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
            </div>
        </a>
        <!-- Separator without title -->
        <li class="list-group-item sidebar-separator menu-collapsed"></li>
        <!-- /END Separator -->
        <a href="#" class=" list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-question fa-fw mr-3"></span>
                <span class="menu-collapsed">Log Out</span>
            </div>
        </a>

    </ul>
    <!-- List Group END-->
</div>
<!-- sidebar-container END -->