<h1 style="text-align: center;"> Trang Quản Lý</h1>

<div class="row">
    <div class="col">
        <div class="jumbotron">
            <div class="row w-100">
                <div class="col-md-3">
                    <div class="card border-info  text-center text-info mx-sm-1 p-3 " [routerLink]="['/admin/manager/services']" routerLinkActive="router-link-active">
                        <div class="card border-info shadow  p-3 my-card">

                            <span class="ml-2 font-weight-bold"> Thống Kê Dịch Vụ</span>

                        </div>
                        <div class="mt-3">
                            <h4>Dịch vụ hiện có</h4>
                        </div>
                        <div class="mt-2">
                            <h1>10</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-success text-center text-success mx-sm-1 p-3" [routerLink]="['/admin/manager/customers']" routerLinkActive="router-link-active">
                        <div class="card border-success shadow p-3 my-card">

                            <span class="ml-2 font-weight-bold"> Khách hàng</span>

                        </div>
                        <div class=" mt-3">
                            <h4>Số lượng Khách hàng</h4>
                        </div>
                        <div class="mt-2">
                            <h1>132</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-danger text-center text-danger mx-sm-1 p-3" [routerLink]="['/admin/manager/employees']" routerLinkActive="router-link-active">
                        <div class="card border-danger shadow  p-3 my-card">

                            <span class="ml-2 font-weight-bold"> Nhân Viên</span>

                        </div>
                        <div class="mt-3">
                            <h4>Số lượng Nhân viên</h4>
                        </div>
                        <div class="mt-2">
                            <h1>46</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-warning text-center text-warning mx-sm-1 p-3">
                        <div class="card border-warning shadow  p-3 my-card">

                            <span class="ml-2 font-weight-bold"> Tin Nhắn</span>

                        </div>
                        <div class="mt-3">
                            <h4>Tin Nhắn</h4>
                        </div>
                        <div class="mt-2">
                            <h1>5</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>